email_address = "your-email@example.com"

urls_to_check = [
  "https://google.com",
  "https://github.com",
  "https://aws.amazon.com",
  "https://thiswebsitedoesnotexist123456789.com"
]

check_interval_minutes = 5

aws_region = "us-east-1"